{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    {% translate 'New Label' %}
{% endblock %}

{% block container %}
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">
                {% translate 'New label' %}
            </h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary float-right mt-3" value="{% translate 'Create' %}">
            </form>
        </div>
    </div>

{% endblock %}
