{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{% block title %}
    {% translate 'label' %}
{% endblock %}

{% block container %}

    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">
                {% translate 'Label' %}
                <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'label:create' %}">
                    {% translate 'Create label' %}
                </a>
            </h3>

            <div class="table-responsive">
                <table class="table text-center mt-3">
                    <thead>
                    <tr>
                        <th scope="col">{% translate 'ID' %}</th>
                        <th scope="col">{% translate 'Name' %}</th>
                        <th scope="col">{% translate 'Created at' %}</th>
                        <th scope="col">{% translate 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cur_label in object_list %}
                        <tr title="{{ cur_label.description }}">
                            <th scope="row" class="align-middle">{{ cur_label.pk }}</th>
                            <td class="align-middle">
                                <a href="{% url 'task:list' %}?label={{ cur_label.pk }}"
                                   class="badge badge-primary">{{ cur_label.name }}</a>
                            </td>
                            <td class="align-middle">{{ cur_label.created_at|date:'d b Y' }}</td>
                            <td class="border-bottom-0">
                                <a class="btn btn-sm btn-outline-primary py-0 w-100 border-0"
                                   href="{% url 'label:update' cur_label.pk %}">
                                    {% translate 'Update' %}
                                </a>
                                <a class="btn btn-sm btn-outline-danger py-0 w-100 border-0"
                                   href="{% url 'label:delete' cur_label.pk %}">
                                    {% translate 'Delete' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
