{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
{% translate 'Edit user' %}
{% endblock %}

{% block container %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div class="container flex-grow-1 text-left">
        <div class="card mx-auto mt-5 shadow" style="min-width: 1000px;">
            <h5 class="card-title text-center mt-4">
                {% translate 'Users' %}
            </h5>
            <div class="card-body">
                <table class="table text-center mt-3">
                    <thead>
                        <tr>
                            <th scope="col">{% translate 'ID' %}</th>
                            <th scope="col">{% translate 'Username' %}</th>
                            <th scope="col">{% translate 'First name' %}</th>
                            <th scope="col">{% translate 'Last name' %}</th>
                            <th scope="col">{% translate 'Email' %}</th>
                            <th scope="col">{% translate 'Registration date' %}</th>
                            <th scope="col">{% translate 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cur_user in object_list %}
                            {% if cur_user.pk == user.pk %}
                                <tr class="table-active">
                            {% else %}
                                <tr>
                            {% endif %}
                                    <th rowspan="2" scope="row" class="align-middle">{{ cur_user.pk }}</th>
                                    <td rowspan="2" class="align-middle">{{ cur_user.username }}</td>
                                    <td rowspan="2" class="align-middle">{{ cur_user.first_name }}</td>
                                    <td rowspan="2" class="align-middle">{{ cur_user.last_name }}</td>
                                    <td rowspan="2" class="align-middle">{{ cur_user.email }}</td>
                                    <td rowspan="2" class="align-middle">{{ cur_user.date_joined|date:'d b Y' }}</td>
                                    <td class="border-bottom-0 py-1">
                                        <a class="btn btn-sm btn-outline-primary my-0 py-0" href="{% url 'update_user' cur_user.pk %}">
                                            {% translate 'update' %}
                                        </a>
                                    </td>
                                </tr>
                                {% if cur_user.pk == user.pk %}
                                    <tr class="table-active">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td class="border-top-0 py-1">
                                        <a class="btn btn-sm btn-outline-danger my-0 py-0" href="{% url 'delete_user' cur_user.pk %}">
                                            {% translate 'delete' %}
                                        </a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
