{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
{% translate 'Edit task' %}
{% endblock %}

{% block container %}
    <div class="card shadow">
        <div class="card-body text-left">
            <h3 class="card-title">
                {% translate 'Task' %}
            </h3>
            <form action="{% url 'update_task' task.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary float-right mt-3 mx-1" value="{% translate 'Update' %}">
                <a class="btn btn-outline-danger float-right mt-3 mx-1" href="{% url 'delete_task' task.pk %}">{% translate 'Delete' %}</a>
            </form>
        </div>
    </div>
{% endblock %}
