{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
{% translate 'Registration' %}
{% endblock %}

{% block container %}

    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">
                {% translate 'Registration' %}
            </h3>
            <form action="{% url 'user:create' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary float-right mt-3" value="{% translate 'Register' %}">
            </form>
        </div>
    </div>

{% endblock %}
