{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    {% translate 'Login' %}
{% endblock %}

{% block container %}

    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">
                {% translate 'Login or' %} <a class="text-decoration-none"
                                              href="{% url 'user:create' %}">{% translate 'Register' %}</a>
            </h3>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary float-right mt-3" value="{% translate 'Log in' %}">
            </form>
        </div>
    </div>

{% endblock %}
