{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{% block title %}
    {% translate 'User' %}
{% endblock %}

{% block container %}

    <div class="card shadow">
        <div class="card-header">
            {% translate 'User' %} # {{ user.pk }}
            <a class="btn btn-sm btn-outline-primary float-right mx-1" href="{% url 'user:update' user.pk %}">
                {% translate 'Update' %}
            </a>
            <a class="btn btn-sm btn-outline-danger float-right mx-1" href="{% url 'user:delete' user.pk %}">
                {% translate 'Delete' %}
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ user.email }}
            </h6>
            <p class="card-text">
                {{ user.first_name }} {{ user.last_name }}
            </p>

            <div class="border-top pt-2"></div>
            <h6>
                {% translate 'Created tasks' %}
                <a href="{% url 'task:list' %}?author={{ user.id }}"
                   class="badge badge-secondary ml-1">{{ user.author.count }}</a>
            </h6>
            <ul>
                {% for task in user.author.all %}
                    <li class="">
                        <a href="{% url 'task:sample' task.pk %}">{{ task.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="border-top pt-2"></div>
            <h6>
                {% translate 'Executed tasks' %}
                <a href="{% url 'task:list' %}?executor={{ user.id }}"
                   class="badge badge-secondary ml-1">{{ user.executor.count }}</a>
            </h6>
            <ul>
                {% for task in user.executor.all %}
                    <li>
                        <a href="{% url 'task:sample' task.pk %}">{{ task.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="card-footer text-muted">
            <small>
                {% translate 'Joined at' %} {{ user.date_joined }}
            </small>
        </div>
    </div>

{% endblock %}
