<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {# load locale #}
    {% load i18n %}

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <nav class="nav justify-content-center py-3 border-bottom">
        <a class="nav-link active" href="/">{% translate 'Home' %}</a>
        <a class="nav-link" href="{% url 'users' %}">{% translate 'Users' %}</a>
        <a class="nav-link" href="{% url 'login' %}">{% translate 'Login' %}</a>
        <a class="nav-link" href="{% url 'create_user' %}">{% translate 'Register' %}</a>
    </nav>

    {% block container %}{% endblock %}

    <footer>
      <div class="container mt-5 py-3 border-top text-center">
        <span class="text-muted">Task manager @ 2021 by m</span>
      </div>
    </footer>

</body>
</html>