<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {# load locale #}
    {% load i18n %}

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{% url 'index' %}">Mask Manger</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {# NAME #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">{% translate 'Home' %}</a>
                </li>

                {# USER APP #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% translate 'Users' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
                        <a class="dropdown-item" href="{% url 'users' %}">{% translate 'Users list' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'create_user' %}">{% translate 'Registration' %}</a>
                        <a class="dropdown-item" href="{% url 'login' %}">{% translate 'Login' %}</a>
                        {% if user.is_authenticated %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'user' user.pk %}">{% translate 'Profile' %}</a>
                            <a class="dropdown-item" href="{% url 'update_user' user.pk %}">{% translate 'Update user' %}</a>
                            <a class="dropdown-item" href="{% url 'delete_user' user.pk %}">{% translate 'Delete user' %}</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="dropdown-item" value="{% translate 'Logout' %}"/>
                        </form>
                    </div>
                </li>

                {# STATUS APP #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="statusNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% translate 'Statuses' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="statusNavbarDropdown">
                        <a class="dropdown-item" href="{% url 'statuses' %}">{% translate 'Statuses' %}</a>
                        <a class="dropdown-item" href="{% url 'create_status' %}">{% translate 'Create status' %}</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="statusNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% translate 'Tasks' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="statusNavbarDropdown">
                        <a class="dropdown-item" href="{% url 'tasks' %}">{% translate 'Tasks' %}</a>
                        <a class="dropdown-item" href="{% url 'create_task' %}">{% translate 'Create task' %}</a>
                    </div>
                </li>

            </ul>

            {# AUTH SHORTCATS #}
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'user' user.pk %}">{% translate 'Profile' %}</a>
                    <div class="nav-item">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="nav-link btn btn-link border-0" value="{% translate 'Logout' %}"/>
                        </form>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_user' %}">{% translate 'Registration' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% translate 'Login' %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <div class="container flex-grow-1">

        {# Display django.contrib.messages as Bootstrap alerts #}
        <div class="mt-2 mx-5">
            {% bootstrap_messages %}
        </div>

        <div class="mt-5">
            {% block container %}{% endblock %}
        </div>
    </div>

    <footer>
      <div class="mt-2 py-2 border-top bg-light text-center">
          <small class="text-muted">
              <a class="text-decoration-none text-reset" href="https://github.com/mnogom/python-project-lvl4" target="_blank">
                  Task manager @ 2021 by m
              </a>
          </small>
      </div>
    </footer>

</body>
</html>