{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block container %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div class="container flex-grow-1">
        <div class="card mx-auto mt-5 shadow" style="width: 500px; min-width: 300px;">
            <h5 class="card-title text-center mt-4">
                {% translate 'Home' %}
            </h5>
                <div class="card-body">
                <div>{% translate 'Mode' %}: {{ env }}</div>
                <div>{% translate 'User auth' %} {{ user.is_authenticated }}</div>
                <div><a href="{% url 'index' %}">index page</a></div>
                <div><a href="{% url 'users' %}">users</a></div>
                <div><a href="{% url 'create_user' %}">create user</a></div>
                {% if user.is_authenticated %}
                    <div><a href="{% url 'update_user' user.pk %}">update user</a></div>
                    <div><a href="{% url 'delete_user' user.pk %}">delete user</a></div>
                {%  endif %}
                <div><a href="{% url 'login' %}">login</a></div>
                <div><a href="{% url 'logout' %}">logout</a></div>
            </div>
        </div>
    </div>

{% endblock %}
