{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block container %}

    <div class="card-deck">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {% translate 'Home' %}
                </h3>
                <a class="btn btn-secondary" href="{% url 'index' %}">index page</a>
            </div>
            <div class="card-footer text-muted">
                <div><small>{% translate 'Mode' %}: {{ env }}</small></div>
                <div><small>{% translate 'User auth' %} {{ user.is_authenticated }}</small></div>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {% translate 'Users' %}
                </h3>
                <div class="btn-group-vertical" role="group">
                    <a class="btn btn-secondary" href="{% url 'users' %}">users</a>
                    <a class="btn btn-secondary" href="{% url 'login' %}">login</a>
                    <a class="btn btn-secondary" href="{% url 'create_user' %}">create user</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-success" href="{% url 'user' user.pk %}">profile</a>
                        <a class="btn btn-success" href="{% url 'update_user' user.pk %}">update user</a>
                        <a class="btn btn-success" href="{% url 'delete_user' user.pk %}">delete user</a>
                    {%  endif %}
                </div>
                <form class="mt-1" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-warning" value="logout"/>
                </form>
            </div>
            <div class="card-footer text-muted">
                <small>{% translate 'User manager' %}</small>
            </div>
        </div>
    </div>

    <div class="card-deck mt-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {% translate 'Statuses' %}
                </h3>
                <div class="btn-group-vertical" role="group">
                    <a class="btn btn-secondary" href="{% url 'statuses' %}">statuses</a>
                    <a class="btn btn-secondary" href="{% url 'create_status' %}">create status</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small>{% translate 'Status manager' %}</small>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {% translate 'Labels' %}
                </h3>
                <span>TBD</span>
            </div>
            <div class="card-footer text-muted">
                <small>{% translate 'Label manager' %}</small>
            </div>
        </div>
    </div>

    <div class="card-deck mt-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {% translate 'Tasks' %}
                </h3>
                <div class="btn-group-vertical" role="group">
                    <a class="btn btn-secondary" href="{% url 'tasks' %}">tasks</a>
                    <a class="btn btn-secondary" href="{% url 'create_task' %}">create task</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small>{% translate 'Status manager' %}</small>
            </div>
        </div>
    </div>

{% endblock %}
