{% extends "base.html" %}

{# load locale #}
{% load i18n %}

{% block title %}
{% translate 'Task' %}
{% endblock %}

{% block container %}

    <div class="card shadow">
        <div class="card-header">
            {% translate 'Task' %} # {{ task.pk }}
            <button class="btn btn-sm btn-link p-0" onclick="history.go(-1);"><small>{% translate 'Back' %}</small></button>
            <a class="btn btn-sm btn-outline-primary float-right mx-1" href="{% url 'task:update' task.pk %}">
                {% translate 'Update' %}
            </a>
            <a class="btn btn-sm btn-outline-danger float-right mx-1" href="{% url 'task:delete' task.pk %}">
                {% translate 'Delete' %}
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ task.name }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {% translate 'Status' %}:
                <a class="badge badge-success" href="{% url 'task:list' %}?status={{ task.status_id }}">
                    {{ task.status }}
                </a>
            </h6>
            <p class="card-text">
                {{ task.description }}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% translate 'Labels' %}:
                {% for cur_label in task.labels.all %} {# TODO: [fix] make block for label #}
                    <a href="{% url 'task:list' %}?label={{ cur_label.pk }}" class="badge badge-primary">{{ cur_label.name }}</a>
                {% endfor %}
            </li>
            <li class="list-group-item">{% translate 'Executor' %}: <a href="{% url 'user:sample' task.executor_id %}">{{ task.executor }}</a></li>
            <li class="list-group-item">{% translate 'Author' %}: <a href="{% url 'user:sample' task.author_id %}">{{ task.author }}</a></li>
        </ul>
        <div class="card-footer text-muted">
            <small>
                {% translate 'Created at' %} {{ task.created_at }}
            </small>
        </div>
    </div>

{% endblock %}
